
body {
    font-size: 16px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    background-color: #fffde7;
}

/* HEADER */
#header-nav {
    border-radius: 0;
    border: 0;
    background-color: #f39a02;

}

#logo-img {
    background: url("../images/restraurant-logo.png") no-repeat center;
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.navbar-brand {
    padding-top: 30px;
    padding-bottom: 0;
}

.navbar-header a {
    display: block;
    width: min-content;
    height: min-content;
}

.navbar-brand h1 {
    font-family: 'MuseoModerno', cursive;
    color: #010736;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list li {
    margin-left: 2px;
    margin-top: 2px;
}

#nav-list a {
    color: #010736;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
}

#nav-list a.active, #nav-list a:hover {
    background-color: #010736;
    color: #f39a02;
}

#nav-list hr {
    background-color: #ca8104;
    margin: 5px 5px 5px 5px;
}

.custom-toggler.navbar-toggler {
    border: none;
} 

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 7, 54, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* END OF HEADER */

/* HOME PAGE */
.row {
    margin: 0;
}

#home-tiles {
    padding: 30px;
}

#home-tiles span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f39a02;
    font-size: 20px;
    background: #010736;
    opacity: 0.8;
    padding: 5px;
    border-radius: 10px;
}

#menu-tile, #special-tile, #map-tile {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #010736;
}

#menu-tile:hover, #special-tile:hover, #map-tile:hover {
    box-shadow: 0 2px 8px 2px grey;
}

#menu-tile {
    background-image: url("https://media.istockphoto.com/photos/assorted-indian-recipes-food-various-picture-id922783734?k=6&m=922783734&s=612x612&w=0&h=hljWwPRzq8Cc_PHbx693FPnQ_39yNqD4BUjtMbgASlM=");
    background-size: cover;
    background-position: center;
}

#special-tile {
    background-image: url("https://i.pinimg.com/originals/4b/eb/92/4beb927a96b44773e39b2f5467fd2748.jpg");
    background-size: cover;
    background-position: center;
}

#map-tile iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#menu-categories-title {
    color: #010736;
    font-family: 'MuseoModerno', cursive;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 20px;
}

#menu-items > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu-items > div:nth-last-child(1) {
    margin-right: auto;
}

#menu-items > div:nth-last-child(2) {
    margin-left: auto;
}

#menu-items a {
    color: #010736;
    font-weight: bold;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#menu-items a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}

#menu-items img:hover {
    box-shadow: 0 0 7px 7px #f1c021;
} 

.category-title img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
}

.category-title section{
    text-align: center;
    margin-top: 10px;
}

.dish-title {
    padding: 10px;
    background-color: #f1c021;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dish-title img {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#dish-name {
    text-align: center;
    color: #010736;
    font-weight: bold;
    margin-bottom: 5px;
}

#dish-info {
    padding: 10px;
}

#dish-info #dish-price {
    color: #010736;
    font-weight: bold;
}

#dish-info #dish-menu-id {
    background-color: #010736;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    border-radius: 5px;
}

#headingOne {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f1c021;
}

#details {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f1c021;
}

#details-btn {
    padding: 0;
    text-decoration: none;
    background-color: #010736;
    color: #f1c021;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 5px 0 5px;
    margin-top: 10px;
}

#myAccordion .card-body {
    padding: 0;
    text-align: center;
}
/* END OF HOME PAGE */

/* FOOTER */
.card-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #212121;
}

#hours hr, #address hr {
    background-color: white;
}

.card-footer div.row {
    margin-bottom: 35px;
}

#copyright-section {
    color: #f39a02;
}

#hours > span, #address > span {
    font-size: 1.3em;
}

#address p {
    color: #557c3e;
    font-size: 0.8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}
/* END OF FOOTER */

/* EXTRA SMALL DEVICES */
@media (min-width: 0px) and (max-width: 575px) {
    #main-content {
        padding: 0;
    }

    .navbar-brand {
        padding-top: 0;
    }

    #nav-list svg {
        margin-right: 10px;
    }

    #nav-list a {
        text-align: left;
    }

    #nav-list a {
        font-size: 0.9em;
        padding-left: 20px;
        padding-right: 20px;
    }

    #menu-tile, #special-tile, #map-tile {
        height: 150px;
    }

    #home-tiles {
        padding: 30px;
    }

    .card-footer {
        text-align: center;
    }

    #hours hr, #address hr {
        width: 50%;
    }

    .category-title img {
        width: 130px;
        height: 130px;
    }

    .dish-title img {
        height: 180px;
    }
}
/* END OF EXTRA SMALL DEVICES */

/* SMALL DEVICES */
@media (min-width: 576px) and (max-width: 767px) {
    #main-content {
        padding: 0;
    }

    .jumbotron-fluid {
        background-image: url("../images/restaurant-interior-md.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
    }

    #logo-img {
        background: url("../images/restraurant-logo-sm.png") no-repeat center;
        width: 55px;
        height: 55px;
    }   

    .navbar-brand {
        padding-top: 0;
    }

    #nav-list svg {
        margin-right: 10px;
    }

    #nav-list a {
        text-align: left;
    }

    #nav-list a {
        font-size: 0.9em;
        padding-left: 20px;
        padding-right: 20px;
    }

    #menu-tile, #special-tile, #map-tile {
        height: 200px;
    }

    #home-tiles {
        padding: 45px;
    }

    .category-title img {
        width: 170px;
        height: 170px;
    }

    .dish-title img {
        height: 200px;
    }
}
/* END OF SMALL DEVICES */

/* MEDIUM DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
    #main-content {
        padding: 0;
    }

    .jumbotron-fluid {
        background-image: url("../images/restaurant-interior-md.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 425px;
    }

    #nav-list a {
        font-size: 0.9em;
        padding-left: 20px;
        padding-right: 20px;
    }

    #menu-tile, #special-tile, #map-tile {
        height: 220px;
    }

    .category-title img {
        width: 160px;
        height: 160px;
    }
}
/* END OF MEDIUM DEVICES */

/* LARGE DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {
    #main-content {
        padding: 0;
    }

    .jumbotron-fluid {
        background-image: url("../images/restaurant-interior-lg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
    }

    #menu-tile, #special-tile, #map-tile {
        height: 250px;
    }

    .dish-title img {
        height: 200px;
    }
}
/* END OF LARGE DEVICES */

/* EXTRA LARGE DEVICES */
@media (min-width: 1200px) {
    #main-content {
        padding: 0;
    }

    .jumbotron-fluid {
        background-image: url("../images/restaurant-interior.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 675px;
    }

    #menu-tile, #special-tile, #map-tile {
        height: 280px;
    }

    #home-tiles {
        padding: 60px;
    }
}
/* END OF EXTRA LARGE DEVICES */